//body css
body {
    margin: 0;
}

//questions next and prev buttons css
.paginate-links {
    list-style: none;
    display: flex;
    justify-content: center;
    // position: absolute;
    // bottom: 60px;
    // left: 50%;
    // transform: translateX(-50%);
    li.next {
        color: #fff;
        background-color: #409EFF;
        border-color: #409EFF;
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        border-color: #DCDFE6;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        margin: 0 10px 0 0;
        transition: .1s;
        font-weight: 500;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 4px;
        &:hover{
            background: #66b1ff;
            border-color: #66b1ff;
            color: #fff;
        }
        &.disabled {
            cursor: not-allowed;
            opacity: 0.4;
        }
        &.disabled:hover {
            cursor: not-allowed;
            opacity: 0.4;
            color: #fff;
            background-color: #409EFF;
            border-color: #409EFF;
        }
    }
    li.prev {
        color: #fff;
        background-color: #909399;
        border-color: #909399;
        display: inline-block;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        border-color: #DCDFE6;
        -webkit-appearance: none;
        text-align: center;
        box-sizing: border-box;
        outline: none;
        margin: 0 10px 0 0;
        transition: .1s;
        font-weight: 500;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 4px;
        &:hover{
            background: #a6a9ad;
            border-color: #a6a9ad;
            color: #fff;
        }
        &.disabled {
            cursor: not-allowed;
            opacity: 0.4;
        }
        &.disabled:hover {
            cursor: not-allowed;
            opacity: 0.4;
            color: #fff;
            background-color: #909399;
            border-color: #909399;
        }
    }
  }

//header css
.el-header {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    background: #f1f3f8;
    z-index: 1;
    .el-row {
        height: 100%;
    }
}

//main css
.el-main {
    overflow: auto;
    div ul:first-child {
        padding-left: 0;
        margin-top: 0;
    }
}

//footer css
.el-footer{
    background: #c5c5c5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
}

//el-radio sizing 
.el-radio__inner {
    border: 2px solid #9c9d9e;
    width: 34px;
    height: 34px;
    &:after {
        width: 12px;
        height: 12px;
    }
}